.header-store {
    color: #fff;
    overflow: hidden;
    margin-bottom: 138px;
    padding-left: 60px;
}

.header-store>.title {
    font-size: 40px;
    font-family: Arial, Roboto, sans-serif;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.header-store>.navigation {
    font-size: 21px;
    font-family: "Segoe UI", Roboto, sans-serif;
    float: right;
}

.header-store [type="search"] {
    width: 360px;
    margin-right: 65px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 8px;
    color: inherit;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

.header-store [type="search"]::placeholder {
    color: #fff;
    font-size: 20px;
}

.header-store .action {
    text-decoration: none;
    color: #fff;
    margin-right: 60px;
    position: relative;
    display: inline-block;
}

.header-store .action.-last {
    margin-right: 0;
}

.header-store .action:after {
    content: '';
    width: 0px;
    position: absolute;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.header-store .action:hover:after {
    width: 100%;
    left: 0;
    background: #fff;
}