.header-store {
    color: #fff;
    overflow: hidden;
    margin-bottom: 138px;
    padding: 0 60px;
}

.header-store>.title {
    font-size: 40px;
    font-family: Arial, Roboto, sans-serif;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.header-store>.navigation {
    font-size: 21px;
    font-family: "Segoe UI", Roboto, sans-serif;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-store [type="search"] {
    width: 360px;
    margin-right: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 8px;
    color: inherit;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

.header-store [type="search"]::placeholder {
    color: #fff;
    font-size: 20px;
}

.header-store .item {
    display: inline-block;
    margin-right: 60px;
}

.header-store .item.-menu {
    display: none;
}

.header-store .item.-last {
    margin-right: 0;
}

.header-store .action {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.header-store .action::after {
    content: '';
    width: 0px;
    left: 0;
    position: absolute;
    height: 1px;
    display: block;
    margin-top: 8px;
    background: #fff;
    transition: all .2s ease;
}

.header-store .action:hover::after {
    width: 100%;
}

.fa-search,
.fa-times,
.fa-bars {
    visibility: hidden;
}

@media (max-width: 1310px) {
    .header-store {
        margin-bottom: 60px;
    }
}


@media (max-width: 1235px) {
    .header-store>.title {
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .header-store>.navigation {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 955px) {
    .header-store [type="search"] {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-88%);
        background-color: #fff;
        border-left: solid 40px #fff;
        color: #000;
        transition: transform 200ms linear;
        border-radius: 0 0 5px 0;
        box-sizing: border-box;
        padding-right: 60px;
        margin-top: 0;
    }

    .header-store .-active[type="search"] {
        transform: translateX(-30px);
        transition: transform 350ms cubic-bezier(.39, .41, .28, 1.26);
        border-radius: 0 0 5px 0;
    }

    .header-store [type="search"]::placeholder {
        color: #000;
    }

    .header-store {
        padding: 0;
    }

    .fa-search,
    .fa-times {
        visibility: visible;
        color: #252525;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: transform 200ms linear;
        cursor: pointer;
        padding: 10px;
    }

    .fa-search.-active,
    .fa-times.-active {
        transition: transform 350ms cubic-bezier(.39, .41, .28, 1.26);
        transform: translateX(290px);

    }

    .fa-search.-hidden,
    .fa-times.-hidden {
        visibility: hidden;
    }
}

@media (max-width: 530px) {
    .header-store {
        padding: 0 16px;
    }

    .header-store .list {
        display: flex;
        justify-content: space-around;
    }

    .header-store .item {
        margin-right: 20px;
    }

    .header-store [type="search"] {
        transform: translateX(-82%);
        width: 250px;
    }

    .header-store .-active[type="search"] {
        width: 250px;
    }

    .fa-times {
        left: -110px;
    }

    .fa-search.-active {
        transform: translateX(180px);
    }
}

@media (max-width: 380px) {
    .header-store {
        margin-bottom: 40px;
    }

    .fa-bars {
        visibility: visible;
    }

    .header-store .item.-menu {
        display: block;
    }

    .header-store .item.-menu i {
        color: #252525;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #fff;
        padding: 10px;
        border-radius: 0 0 0 5px;
        transform: translateX(-100%);
        transition: transform 400ms 100ms linear;
    }

    .header-store .list {
        background: #fff;
        display: block;
        position: absolute;
        top: 0px;
        right: 0;
        width: 100vw;
        height: 50vh;
        padding: 10px 0;
        transform: translateX(100%);
        transition: transform 300ms linear;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .header-store .list.-active {
        transform: translateX(0%);
        transition: none;
    }

    .header-store .list.-active .item.-menu i {
        transform: translateX(0%);
        transition: none;
    }

    .header-store .list a {
        color: #000;
    }

    .header-store .item {
        display: block;
        padding: 10px 0;
    }

}